/* a{
  width: 20px;
  height: 20px;
} */

.youtube{
  position: relative;
  margin-top:1px; 
  margin-left:400px;
  width:200px; 
  height:25px;
}

.Audio {
  justify-content: flex-end;
}

.content {
  justify-content: flex-start;
} 